*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #B0B0B0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav */
ul{
    text-align: center;
    position: relative;
    background: #6F002E;
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #c0ae47;
    padding: 25px;
    display: block;
    font-size: 18px;
}

ul li a:hover{
    color: #f8d50e;

}

ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
    background: #6F002E;
}

ul ul li{
    display: block;
    background: none;
}

ul li:hover ul{
    display: block;
}

